<?xml version="1.0"?>
<launch>
    <arg name="path_to_model"
        default="$(env HOME)/models/gallery_detection/procedural_datasets/dataset_03/gallery_detector_v3-_r10_lr002_3.torch" />

    <!-- NODES THAT RUN ON THE VISUALIZATION PC-->

    <!-- <node name="nn_output_plot" pkg="gallery_detection" type="plot_output.py"/> -->
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find
  tunnel_navigation_launch)/rviz/default.rviz" /> -->


    <!-- NODES THAT RUN ON THE ROBOT-->
    <!-- <machine name="husky" address="cpr-a200-0678" env-loader="~/catkin_ws/devel/env.sh"
  user="administrator" default="true"/> -->

    <include file="$(find gallery_detection_ros)/launch/gallery_detection.launch">
        <arg name="path_to_model" value="$(arg path_to_model)" />
    </include>

    <include file="$(find gallery_tracking)/launch/gallery_tracking.launch"></include>


</launch>