<?xml version="1.0"?>
<launch>
    <arg name="path_to_model"
        default="$(env HOME)/models/gallery_detection/procedural_datasets/dataset_03/gallery_detector_v3-_r10_lr002_3.torch" />

    <!--Neural
    network nodes-->
    <include file="$(find robot_launch)/launch/gallery_detection_and_tracking.launch">
        <arg name="path_to_model" value="$(arg path_to_model)" />
    </include>

    <!-- NAVIGATION NODES-->
    <!-- NODES THAT RUN ON THE VISUALIZATION PC-->
    <!-- NODES THAT RUN ON THE ROBOT-->
    <!--   <machine name="husky" address="cpr-a200-0678" env-loader="~/catkin_ws/devel/env.sh"
    user="administrator" default="true"/>
 -->
    <node name="gallery_selector" pkg="heading_control" type="gallery_selector.py" output="screen" />
    <node name="obstacle_avoidance" pkg="heading_control" type="obstacle_avoidance.py"
        output="screen" />
    <node name="angle_to_twist" pkg="heading_control" type="angle_to_vel.py" output="screen" />

</launch>