<?xml version="1.0"?>
<launch>

    <!-- Neural Network Parameters-->
    <arg name="nn_type" />
    <arg name="nn_path" />

    <node name="neural_network_node" pkg="gallery_detection" type="network_node.py" output="screen">
        <param name="nn_type" value="$(arg nn_type)"/>
        <param name="nn_path" value="$(arg nn_path)"/>
    </node>

    <node name="neural_network_filtering" pkg="gallery_detection" type="output_filtering_node_v2.py" output="log" />
</launch>