<?xml version="1.0"?>
<launch>

    <!-- Neural Network Parameters-->
    <arg name="nn_path" default="$(env HOME)/catkin_data/models/gallery_detection_nn/gallery_detector_v3-loss_MSELoss_lr_0.0001_N_8_refined_state_dict"/>

    <include file="$(find pointcloud_to_image)/launch/ptcl_to_img.launch">
    </include>



    <node name="neural_network_node" pkg="gallery_detection" type="network_node.py" output="screen">
        <param name="nn_path" value="$(arg nn_path)"/>
    </node>

    <node name="neural_network_filtering" pkg="gallery_detection" type="output_filtering_node.py" output="log" />
</launch>