<?xml version="1.0"?>
<launch>
  <!-- <arg name="world_file_path" default="/home/lorenzo/catkin_data/worlds/empty/gazebo.world" /> -->
  <arg name="world_file_path" default="/home/lorenzo/Documents/tfm/trees/105_2/gazebo.world" />
  <arg name="gui" default="true" />
  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file_path)" />
    <arg name="gui" value="$(arg gui)" />
  </include>
  <!-- Spawn husky -->
  <include file="$(find husky_gazebo)/launch/spawn_husky_velodyne.launch">
    <arg name="yaw" value="0" />
  </include>
  <!-- Launch teleop to controll husky with joystick -->
  <include file="$(find teleop_twist_joy)/launch/teleop.launch"></include>
  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tunnel_navigation_launch)/rviz/default.rviz" />
</launch>